In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

%matplotlib inline

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
ex_sol = pd.read_csv('data/gender_submission.csv')

In [27]:
test = pd.read_csv('data/test.csv')
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [4]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [3]:
ex_sol.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [8]:
train = pd.get_dummies(train, dummy_na=True, columns=['Pclass','Sex','Embarked'])

In [30]:
test = pd.get_dummies(test, dummy_na=True, columns=['Pclass','Sex','Embarked'])

In [28]:
test = test.drop(['Name','Ticket', 'Cabin'], axis=1)

In [15]:
from sklearn.model_selection import train_test_split

X = train.drop(['Survived','Name','Ticket','PassengerId', 'Cabin'], axis=1)
y = train['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
X_train.head()

,Age,SibSp,Parch,Fare,Pclass_1.0,Pclass_2.0,Pclass_3.0,Pclass_nan,Sex_female,Sex_male,Sex_nan,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
105,28,0,0,7.8958,0,0,1,0,0,1,0,0,0,1,0
68,17,4,2,7.9250,0,0,1,0,1,0,0,0,0,1,0
253,30,1,0,16.1000,0,0,1,0,0,1,0,0,0,1,0
320,22,0,0,7.2500,0,0,1,0,0,1,0,0,0,1,0
706,45,0,0,13.5000,0,1,0,0,1,0,0,0,0,1,0

In [16]:
# count NaN's in all cont. columns
# % of NaN's in col
nan_cnt = X_train.isnull().sum()
for i in range(X_train.shape[1]):
    percent = nan_cnt[i]/X_train.shape[0] * 100
    print(nan_cnt.index[i].ljust(50), '%3.2f' % (percent ) )

Age                                                19.91
SibSp                                              0.00
Parch                                              0.00
Fare                                               0.00
Pclass_1.0                                         0.00
Pclass_2.0                                         0.00
Pclass_3.0                                         0.00
Pclass_nan                                         0.00
Sex_female                                         0.00
Sex_male                                           0.00
Sex_nan                                            0.00
Embarked_C                                         0.00
Embarked_Q                                         0.00
Embarked_S                                         0.00
Embarked_nan                                       0.00

In [6]:
def imp_scale( imp_method=None, scale_method=None ):
    from sklearn.preprocessing import Imputer

    from sklearn.preprocessing import StandardScaler
    from sklearn.preprocessing import MinMaxScaler
    from sklearn.preprocessing import RobustScaler
    
    from sklearn.pipeline import make_pipeline

    if imp_method is None:
        imputer = Imputer(strategy="mean")
    else:
        imputer = Imputer(strategy=imp_method)
    
    # option to not do any scaling
    if scale_method is None:
        return make_pipeline(imputer)
    elif scale_method == "standard":
        scaler = StandardScaler()
    elif scale_method == "minmax":
        scaler = MinMaxScaler()
    elif scale_method == "robust":
        scaler = RobustScaler()
    
    return make_pipeline(imputer, scaler )

In [20]:
from sklearn.linear_model import LogisticRegression

lr_pipe = imp_scale(scale_method='standard')
lr_pipe.steps.append(('logisticregression', LogisticRegression()))

lr_pipe.fit(X_train, y_train)

scores = cross_val_score(lr_pipe, X_train, y_train, cv =10)
print( np.mean(scores))
print( lr_pipe.score(X_test, y_test))

0.797987336047
0.793721973094

In [31]:
ids = test['PassengerId']
predictions = lr_pipe.predict(test.drop('PassengerId', axis=1))

output = pd.DataFrame({ 'PassengerId' : ids, 'Survived': predictions })

In [32]:
output.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [33]:
output.to_csv('submission.csv', index=False)

In [17]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
# from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import GridSearchCV

dtree_pipe = imp_scale() # don't need scaling
dtree_pipe.steps.append(('decisiontreeregressor', DecisionTreeRegressor()))
param_grid = {'decisiontreeregressor__max_depth': range(3,40)}

dtree_grid = GridSearchCV(dtree_pipe, param_grid, cv=10)
dtree_grid.fit(X_train, y_train)
print(dtree_grid.best_params_)
print(dtree_grid.score(X_test, y_test))

{'decisiontreeregressor__max_depth': 3}
0.482543852262

In [18]:
from sklearn.ensemble import BaggingRegressor

bagging_pipe = imp_scale() # don't need scaling
bagging_pipe.steps.append(('baggingregressor', BaggingRegressor(n_jobs=-1, n_estimators=1000)))
bagging_pipe.fit(X_train, y_train)

scores = cross_val_score(bagging_pipe, X_train, y_train, cv =10)
print( np.mean(scores))
print( bagging_pipe.score(X_test, y_test))

0.34912525198
0.444693610422

In [19]:
from sklearn.neighbors import KNeighborsRegressor

bagging_knn_pipe = imp_scale() # don't need scaling
bagging_knn_pipe.steps.append(('baggingregressor', BaggingRegressor(n_jobs=-1, n_estimators=1000,
                                                                    base_estimator=KNeighborsRegressor())))

bagging_knn_pipe.fit(X_train, y_train)

scores = cross_val_score(bagging_knn_pipe, X_train, y_train, cv =10)
print( np.mean(scores))
print( bagging_knn_pipe.score(X_test, y_test))

0.128079742997
0.237312553964