In [9]:
import pandas as pd

melb_path = './melb_data.csv'
melb_data = pd.read_csv(melb_path)
print(melb_data.columns)

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [6]:
print(melb_data.Address.head())

0        85 Turner St
1     25 Bloomburg St
2        5 Charles St
3    40 Federation La
4         55a Park St
Name: Address, dtype: object

In [7]:
col_list = list(melb_data.columns)
print( col_list )

['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname', 'Propertycount']

In [10]:
reg_vars = ['Price', 'YearBuilt']
reg_df = melb_data[reg_vars]
reg_df.describe()

                Price    YearBuilt
count    18396.000000  8958.000000
mean   1056697.460915  1965.879996
std     641921.666710    37.013261
min      85000.000000  1196.000000
25%     633000.000000  1950.000000
50%     880000.000000  1970.000000
75%    1302000.000000  2000.000000
max    9000000.000000  2018.000000